
body {
    display: flex;
    border: 2px dotted red;
    flex-flow: row wrap;
    flex-direction: row;
}

div {
    flex-grow: 1;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

.flexone {
    width: 100%;
    background-color: orangered;
}

.flextwo {
    flex-grow: 2;
    background-color: cornflowerblue;
}

.flexthree {
    background-color: lightgreen;
}

.flexfour {
    flex-basis: 100%;
    flex-grow: 1;
    background-color: yellow;
}

.flexfive {
    flex-wrap: wrap;
    flex-grow: 2;
    background-color: blueviolet;
}
