body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

div {
    width: 50px;
    height: 50px;
    margin: 1em;
    background-color: orangered;
    font: black;
    border: 1px solid black;
    text-align: center;
}

