
div {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: red;

}



body {
     animation-name: change-color;
     animation-duration: 5s;
     animation-iteration-count: infinite;
}

.icon {
     width: 1em; height: 1em;
     fill: currentColor;
}

.circle {
     font-size: 8rem;
}

@keyframes change-color {
     0% { color: red; }
    20% { color: orange;}
     40%{ color: yellow; }
     60%{ color: green; }
     80% { color: blue; }
}
