body {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    border: 1px solid red;

}

div {
    width: 100px;
    height: 50px;
    flex-wrap: wrap;
}

#one {flex-grow: 2;
    background-color: darkblue;
}

#two {
    background-color: dodgerblue;
}

#three {
    flex-basis: 100%;
    background-color: lightskyblue;
}

#four {
    background-color: aliceblue;
}

#five {
    background-color: lightgray;
}