body {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    border: 2px solid red;
}

div {
    width: 100px;
    height: 70px;
    flex-wrap: wrap;
}

#one {flex-basis: 60%;
    background-color: darkblue;
}

#two {
    background-color: dodgerblue;
    flex-basis: 40%;
}

#three {
    background-color: lightskyblue;
    flex-basis: 33%;
}

#four {
    background-color: aliceblue;
    flex-basis: 33%;
}

#five {
    background-color: lightgray;
    flex-basis: 34%;
}