
body {
    display: flex;
    justify-content: center;
}

#sectionone {
    display: flex;
    flex-flow: row;
    flex-direction: row;
   /* height: 300px;
    width: 100px;  */
    color: aliceblue;
}


#sectiontwo {
    border: 1px solid red;
    text-align: left;
    width: 250px;
    height: 150px;
    color: aliceblue;
}

.flexone {
    background-color: darkblue;
    width: 100px;
}

.flextwo {
    background-color: dodgerblue;
    height: 50%;
}

.flexthree {
    height: 50%;
    background-color: cornflowerblue;
}

