div {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: blue;
}

#relative {
    position: relative;
    background-color: chartreuse;
    top: 35px;
    left: 35px;
}